@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter";
    background-color: #ced4da;
}

svg {
    width: 22px;
    height: 21px;
    display: inline-block;
}

.container {
    padding: 20px 20px 0 20px;
    display: flex;
    gap: 20px;
}
.editors {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 30px;
}

.CodeMirror {
    height: 150px; /* Initial collapsed height */
    transition: height 0.3s ease;
}

.editor.active .CodeMirror {
    height: 400px; /* Expanded height */
}

.editor h2 {
    background-color: #282a36;
    margin-bottom: 5px;
    color: #fff;
    padding: 5px 9px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.output {
    flex-basis: 50%;
}

.output h2 {
    margin-bottom: 15px;
    color: #282a36;
}

.output iframe {
    background-color: #fff;
    height: 850px;
    width: 100%;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .CodeMirror {
        height: 50px; /* Initial collapsed height */
        transition: height 0.3s ease;
    }

    .editor.active .CodeMirror {
        height: 200px; /* Expanded height */
    }

    .output iframe {
        height: 500px;
    }
}
